html {
    font-size: 62.5%;
}
body {
    background-color: #f5f3f3;
}
h1 {
    text-align: center;
}
h2 {
    font-size: 3rem;
}
h4 {
    font-size: 16px;
    font-weight: 700;
}
header {
    padding: 5px 0 0 0;
    background-image: url('../img/what-the-hex-dark.png');
    text-align: center;
}
@media (min-width: 750px) {
    header {
        text-align: left;
    }
}

.notificacion{
    border-radius: 50%;
    background-color: #742c00;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container-mensaje{
    width: 100%;
    display: flex;
    justify-content: center;
}

.mensaje{
    position: fixed;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    display: block;
    color: #742c00;
    width: 50%;
    z-index: 999;
    border: 1px solid rgba(250, 235, 215, 0.18);
    border-radius: 5px;
    background-color: rgba(250, 235, 215, 0.35);
    top: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
}

.borrar-curso {
    background-color: #742c00;
    border-radius: 5%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.borrar-curso:hover {
    background-color: #f7ad80;
    color: #742c00;
}

ul {
    list-style: none;
}

.en-linea{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: #e1e1e1;
}

#hero {
    background-image:url(../img/hero.jpg);
    height: 420px;
    background-size: cover;
}
#encabezado {
    margin: 30px 0;
}
.submenu {
    position: relative;
    top: 35px;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
.vacio {
    padding: 10px;
    background-color: #742c00;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.contenido-hero {
    margin-top: 80px;
    color: white;
}
.contenido-hero form {
    position: relative;
    margin-bottom: 0;
}
.contenido-hero form #buscador {
    height: 50px;
    margin-bottom: 0;
}
.contenido-hero form .submit-buscador {
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../img/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border:none;
}


.barra {
    padding: 20px 0;
    background: #742c00; /* Old browsers */
    background: -moz-linear-gradient(left, #742c00 0%, #f7ad80 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #742c00 0%,#f7ad80 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #742c00 0%,#f7ad80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#742c00', endColorstr='#f7ad80',GradientType=1 ); /* IE6-9 */
}

.barra p {
    margin:0;
    color: white;
}
.icono {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
@media (min-width: 750px) {
    .icono {
        margin-bottom:0;
    }
}
.icono1 {
    background-image: url(../img/icono1.png);
}
.icono2 {
    background-image: url(../img/icono2.png);
}
.icono3 {
    background-image: url(../img/icono3.png);
}

#lista-cursos .row {
    margin-bottom:20px;
}
.agregar-carrito {
    margin:10px 0;
}

.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
    margin: 10px 0;
}
@media (min-width: 550px) {
    .card {
        text-align: left;
    }
}
.info-card  {
    padding: 10px 20px;
}

.info-card p, 
.card h4 {
    margin-bottom: 5px;
}
.info-card .precio {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}
.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
}


.footer {
    margin-top: 40px;
    border-top:1px solid #aaa;
    padding-top: 40px;
    background-image: url('../img/what-the-hex-dark.png');
}
.footer .menu a{
display: block;
margin-bottom: 10px;
text-decoration: none;
}
